<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    <h1>Contact <%= form.method %></h1>
    <form id="frmContact" method="post" action="/<%= form.method %>">
        <div class="border left">
            <input type="text" id="sender_name" value="<%= data.name %>" name="name" placeholder="Name" />
        </div>
        <div class="clear"></div>
        <div class="border left">
            <input type="text" id="sender_email" value="<%= data.email %>" name="email" placeholder="Email" />
        </div>
        <div class="clear"></div>
        <div class="border left">
            <input type="text" id="sender_phone" value="<%= data.phone %>" name="phone" placeholder="Phone" />
        </div>
        <div class="clear"></div>        
        <div class="border left">
            <textarea id="sender_comments" name="comments" placeholder="Comments"><%= data.comments %></textarea>
        </div>
        <div class="clear"></div>
        <button>Send</button>
    </form>
</body>
</html>